<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        aperiam facere unde in magni temporibus ab iste perferendis aspernatur
        expedita culpa quae consectetur eligendi fugit eveniet, delectus
        asperiores quaerat dicta excepturi. Consequatur quae suscipit maxime
        quas vitae quis laudantium error?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        reprehenderit voluptates magnam perspiciatis, minima optio suscipit quod
        dolorem maiores commodi vero, necessitatibus blanditiis eum impedit
        beatae distinctio magni obcaecati ipsa pariatur accusamus eos aut porro
        mollitia sunt. Nulla ex suscipit itaque facere facilis, tempora velit
        impedit voluptatibus quibusdam quam magnam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ea
        molestiae aliquam blanditiis sunt sit delectus vitae quos amet quae?
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
